<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京睿冠网络科技有限公司</title>
	<meta name="keywords" content="南京睿冠网络科技有限公司"/>
	<meta name="description" content="南京睿冠网络科技有限公司成立于2015年，现已有三家分公司，是一家集研发，设计，销售，互联网服务等一体的现代化互联网服务平台；是一家专注于电子商务的互联网企业，我们致力于为代理商搭建网络销售平台，打通网络销售渠道，掌控电子商务产业链，提升企业品牌价值。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/reservation/contract.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
</head>
<body>
	<header>
		<div class="con">
			<span class="cancel">取消</span>上传合同书<span class="upload">上传</span>
		</div>
	</header>
	<article>
		<span>请按照要求添加照片</span>
		<div class="box">合同第一页<input type="file"></div>
		<div class="box">合同最后一页<input type="file"></div>
	</article>
	<div class="hid">
		<div class="box">
			<span class="text">你确定要取消本次上传？</span>
			<button class="btn cancel">取消</button>
			<button class="btn confirm">确定</button>
		</div>
	</div>
	<div class="hid">
		<div class="box">
			<span class="text">合同书上传成功，后台正在审核</span>
			<button class="btn confirms">确定</button>
		</div>
	</div>
</body>
<script src="../../public/minijs/reservation/contract.js"></script>
</html>