<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司"/>
	<meta name="description" content="南京峰耀网络科技有限公司致力于中国移动互联网研发人才一体化服务的领军企业，全力打造移动互联网高端研发人才服务平台。 集团旗下拥有大型互联网软件开发企业，手机游戏开发企业，100多项专利产品，目前正在筹备上市中，现大力招聘、人才，欢迎广大求职者关注公司招聘 。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/reservation/order-details.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
</head>
<body>
	<header>
		<i class="icon-back" onclick="history.back()"></i>
		<span class="header_title">预约详情</span>
	</header>
	<article>
		<span class="t-title">预约人</span>
		<div class="icon">
			<span>你才是张三</span>
			<span>租户</span>
			<i class="icon-back"></i>
		</div>
		<span class="t-title">预约信息</span>
		<div class="info">
			<span class="title">华旭国际大厦</span>
			<span>区域：黄埔-人民广场</span>
			<span>房型：商务中心</span>
			<span>面积：866㎡</span>
			<span>单价：￥5.5元/㎡/天起</span>
		</div>
		<span class="t-title">预约时间</span>
		<div class="date">2016-08-08</div>
		<span class="t-title">预约状态</span>
		<div class="status">
			<ul>
				<li><span>08/10<br>周三</span><span>订单成功</span></li>
				<li><span>08/08<br>周三</span><span>已改期</span></li>
				<li><span>08/06<br>周三</span><span>已接单，待反馈</span></li>
			</ul>
		</div>
	</article>
	<footer>
		<div onclick="location='order-date.html'">改期</div>
		<div onclick="location='contract.html'">达成</div>
		<div onclick="location='order-cancel.html'">取消</div>
	</footer>
	<div class="hid">
		<div class="box">
			<span class="text">你确定要拨打电话么？</span>
			<button class="btn cancel">取消</button>
			<button class="btn">确认</button>
		</div>
	</div>
</body>
<script src="../../public/minijs/reservation/order-details.js"></script>
</html>