<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京睿冠网络科技有限公司</title>
	<meta name="keywords" content="南京睿冠网络科技有限公司"/>
	<meta name="description" content="南京睿冠网络科技有限公司成立于2015年，现已有三家分公司，是一家集研发，设计，销售，互联网服务等一体的现代化互联网服务平台；是一家专注于电子商务的互联网企业，我们致力于为代理商搭建网络销售平台，打通网络销售渠道，掌控电子商务产业链，提升企业品牌价值。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/publish/publish-demand.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
</head>
<body>
	<header>
		<div class="con">
			<span class="cancel">取消</span>发布需求<span class="publish">发布</span>
		</div>
	</header>
	<article>
		<input type="text" placeholder="周杰伦">
		<input type="text" placeholder="18952436245">
		<textarea name="" id="" cols="30" rows="10" placeholder="描述一下您的需求，比如黄埔100-200㎡，5-6元/㎡/天，环境好点，底层，临近地铁"></textarea>
	</article>
	<div class="hid">
		<div class="box">
			<span class="text">你确定要退出此次发布？</span>
			<button class="btn btn1">取消</button>
			<button class="btn btn2">确认</button>
		</div>
	</div>
	<div class="hid hid2">
		<div class="box">
			<span class="text">需求发布成功，请稍后</span>
			<button class="btn confirm">确认</button>
		</div>
	</div>
</body>
<script src="../../public/minijs/publish/publish-demand.js"></script>
</html>