body {
  background: #f5eeea;
  margin: 0;
  padding: 0;
}
.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 180px;
  height: 180px;
  margin-top: -90px;
  margin-left: -90px;
  background: url("../img/logo.png") no-repeat center;
  background-size: 100%;
}
.copy {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  color: #999;
}
