<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/my/collection-demand.css">
</head>
<body>
	<header>
		<i class="icon-back" onclick="history.back()"></i>
		<span class="header_title">收藏</span>
	</header>
	<div class="title">
		<div class="t1 active"><span>需求</span></div>
		<div class="house"><span>房源</span></div>
	</div>
	<div class="demand">
		<div class="list">
			<div class="list-title"><span>一个新的租房需求</span><div class="list-right">租户</div></div>
			<span>需求为：外滩SOHO,200平米写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</span>
			<div class="botton">
				<button>了解详情</button><span>08/04/13:06</span>
			</div>
		</div>
		<div class="list">
			<div class="list-title"><span>一个新的租房需求</span><div class="list-right">经纪人</div></div>
			<span>需求为：外滩SOHO,200平米写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</span>
			<div class="botton">
				<button>了解详情</button><span>08/04/13:06</span>
			</div>
		</div>
	</div>
	<div class="listing">
		<div class="list">
			<i class="icon-back"></i>
			<div class="info">
				<span class="title">东方金融中心</span>
				<span class="add">浦东-八佰伴</span><br>
				<button>商务中心</button><br>
				<span><span class="price">￥7</span> <span>元/平米/天起</span><span class="date">佣金：1个月</span></span>
			</div>
		</div>
		<div class="list">
			<i class="icon-back"></i>
			<div class="info">
				<span class="title">东方金融中心</span>
				<span class="add">浦东-八佰伴</span><br>
				<button>商务中心</button><br>
				<span><span class="price">￥7</span> <span>元/平米/天起</span><span class="date">佣金：1个月</span></span>
			</div>
		</div>
	</div>
</body>
<script src="../../public/minijs/my/collection-demand.js"></script>
</html>