<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/my/demand.css">
</head>
<body>
	<header>
		<i class="icon-back" onclick="history.back()"></i>
		<span class="header_title">我发布的需求</span>
	</header>
	<article>
		<div class="list">
			<div class="list-title"><span>一个新的租房需求</span><span class="date">08/04/13:06</span></div>
			<span>需求为：外滩SOHO,200平米写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</span>
			<button onclick="location='details.html'">了解详情</button>
		</div>
	</article>

</body>
</html>