<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司"/>
	<meta name="description" content="南京鸿鸣网络科技有限公司致力于中国移动互联网研发人才一体化服务的领军企业，全力打造移动互联网高端研发人才服务平台。 集团旗下拥有大型互联网软件开发企业，手机游戏开发企业，100多项专利产品，目前正在筹备上市中，现大力招聘、人才，欢迎广大求职者关注公司招聘 。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/my/details.css">
</head>
<body>
	<div class="banner">
		<div class="icon-top"><i class="icon-back" onclick="history.back()"></i></div>
		<div class="info"><span><span class="price">￥354615</span> 元/月</span><span class="index"><span class="in">1</span>/12</span></div>
	</div>
	<div class="content">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td>单价</td>
				<td class="t1"><span class="num">￥6.5</span> 元/㎡/天</td>
				<td>面积</td>
				<td class="t1"><span class="num">175</span> 平方米</td>
			</tr>
			<tr>
				<td>装修</td>
				<td>精装</td>
				<td>最短租期</td>
				<td>3年</td>
			</tr>
			<tr>
				<td>交付状态</td>
				<td>标注交付</td>
				<td>装修免租</td>
				<td>一个月</td>
			</tr>
			<tr>
				<td>看房时间</td>
				<td>8:00-20:00</td>
				<td>是否结佣</td>
				<td>一个月</td>
			</tr>
			<tr>
				<td>交付时间</td>
				<td colspan="3">2016-08-08</td>
			</tr>
			<tr>
				<td>付款方式</td>
				<td colspan="3">押三付一(含发票)</td>
			</tr>
			<tr>
				<td colspan="4" class="infos">
					该广场是一个集商业、办公的综合楼项目，采用高低双塔楼设计，使整体外形增加层次感，有变化及更富趣味性。
				</td>
			</tr>
		</table>
	</div>
	<button class="btn">编辑</button>
</body>
</html>