<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京睿冠网络科技有限公司</title>
	<meta name="keywords" content="南京睿冠网络科技有限公司"/>
	<meta name="description" content="南京睿冠网络科技有限公司成立于2015年，现已有三家分公司，是一家集研发，设计，销售，互联网服务等一体的现代化互联网服务平台；是一家专注于电子商务的互联网企业，我们致力于为代理商搭建网络销售平台，打通网络销售渠道，掌控电子商务产业链，提升企业品牌价值。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/my/listing.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
</head>
<body>
	<header>
		<i class="icon-back" onclick="history.back()"></i>
		<span class="header_title">我发布的房源</span>
	</header>
	<article>
		<div class="list">
			<i class="icon-back"></i>
			<div class="info">
				<span class="title">东方金融中心</span>
				<span class="add">浦东-八佰伴</span><br>
				<button>商务中心</button><br>
				<span class="info-btn"><span class="price">￥7</span><span>元/平米/天起</span><span class="date">佣金：1个月</span></span>
			</div>
			<div class="del">删除</div>
		</div>
		<div class="list">
			<i class="icon-back"></i>
			<div class="info">
				<span class="title">东方金融中心</span>
				<span class="add">浦东-八佰伴</span><br>
				<button>商务中心</button><br>
				<span class="info-btn"><span class="price">￥7</span> <span>元/平米/天起</span><span class="date">佣金：1个月</span></span>
			</div>
			<div class="del">删除</div>
		</div>
	</article>
</body>
<script src="../../public/minijs/my/listing.js"></script>
</html>