<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京峰耀网络科技有限公司</title>
	<meta name="keywords" content="南京峰耀网络科技有限公司"/>
	<meta name="description" content="南京峰耀网络科技有限公司致力于中国移动互联网研发人才一体化服务的领军企业，全力打造移动互联网高端研发人才服务平台。 集团旗下拥有大型互联网软件开发企业，手机游戏开发企业，100多项专利产品，目前正在筹备上市中，现大力招聘、人才，欢迎广大求职者关注公司招聘 。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/my/outlogin.css">
	<script src="../../public/js/jquery-1.12.4.js"></script>
</head>
<body>
	<header>
		<span class="header_title">我</span>
		<i class="icon-back" onclick="location='setting.html'"></i>
	</header>
	<article class="login">
		<i class="icon-back1"></i>
		<span class="text" onclick="location='../login/login.html'">点击登录/注册</span>
		<div class="box">
			<div class="s1"><span class="count">0</span><span>收藏</span></div>
			<div><span class="count">0</span><span>积分</span></div>
		</div>
	</article>
	<ul class="list">
		<li class="l1">我发布的需求</li>
		<li class="l2">我发布的房源</li>
		<li class="l3">我预约的房源</li>
		<li class="l4">历史交易</li>
		<li class="l5">过期房源</li>
	</ul>
	<footer>
		<ul>
			<li class="f1"><span>首页</span></li>
			<li class="f2"><span>预约</span></li>
			<li class="f3"></li>
			<li class="f4"><span>信息</span></li>
			<li class="f5"><span>我</span></li>
		</ul>
	</footer>
</body>
</html>