<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/my/setting-about.css">
</head>
<body>
	<header>
		<i class="icon-back" onclick="history.back()"></i>
		<span class="header_title">关于</span>
	</header>
	<div class="content">
		<i class="icon-logo"></i>
		<span class="text"><span class="sun">一米阳光</span>v1.0.0</span>
	</div>
	<div class="list">
		<span>电话</span><span class="phone">021-54216358</span>
	</div>
	<div class="list"><span>服务条款</span></div>
</body>
</html>