<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京睿冠网络科技有限公司</title>
	<meta name="keywords" content="南京睿冠网络科技有限公司"/>
	<meta name="description" content="南京睿冠网络科技有限公司成立于2015年，现已有三家分公司，是一家集研发，设计，销售，互联网服务等一体的现代化互联网服务平台；是一家专注于电子商务的互联网企业，我们致力于为代理商搭建网络销售平台，打通网络销售渠道，掌控电子商务产业链，提升企业品牌价值。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/my/setting.css">
</head>
<body>
	<header>
		<i class="icon-back" onclick="history.back()"></i>
		<span class="header_title">设置</span>
	</header>
	<div class="list">
		<span>接收需求</span>
		<div class="box"><div class="circle"></div></div>
	</div>
	<div class="list1" onclick="location='setting-about.html'"><span>关于</span></div>
	<div class="list1" id="caches">
		<span>清除缓存</span><span class="count">8.88M</span>
	</div>
	<div class="outLogin" onclick="location='outlogin.html'">退出登录</div>
	<div class="hid">
		<div class="box">
			<span class="text">你确定要清理缓存么？</span>
			<button class="btn btn1">取消</button>
			<button class="btn btn2">确认</button>
		</div>
	</div>
	<div class="hid">
		<div class="box">
			<span class="text">你确定要退出登录么？</span>
			<button class="btn btn1">取消</button>
			<button class="btn btn2">确认</button>
		</div>
	</div>
</body>
<script src="../../public/minijs/my/setting.js"></script>
</html>