<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司"/>
	<meta name="description" content="南京锋耀达网络科技有限公司致力于中国移动互联网研发人才一体化服务的领军企业，全力打造移动互联网高端研发人才服务平台。 集团旗下拥有大型互联网软件开发企业，手机游戏开发企业，100多项专利产品，目前正在筹备上市中，现大力招聘、人才，欢迎广大求职者关注公司招聘 。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/login/forget-success.css">
</head>
<body>
	<div class="info_box">
		<span class="text">密码已经修改，稍后自动返回登录页面</span>
		<button class="btn" onclick="location='login.html'">确认</button>
	</div>
</body>
<script src="../../public/minijs/login/forget-success.js"></script>
</html>