<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>项目名 - 公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/login/forget-success.css">
</head>
<body>
	<div class="info_box">
		<span class="text">密码已经修改，稍后自动返回登录页面</span>
		<button class="btn" onclick="location='login.html'">确认</button>
	</div>
</body>
<script src="../../public/minijs/login/forget-success.js"></script>
</html>