<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>一米阳光 - 南京锋耀达网络科技有限公司</title>
	<meta name="keywords" content="南京锋耀达网络科技有限公司"/>
	<meta name="description" content="南京锋耀达网络科技有限公司致力于中国移动互联网研发人才一体化服务的领军企业，全力打造移动互联网高端研发人才服务平台。 集团旗下拥有大型互联网软件开发企业，手机游戏开发企业，100多项专利产品，目前正在筹备上市中，现大力招聘、人才，欢迎广大求职者关注公司招聘 。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/login/register.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
</head>
<body>
	<header>
		<i class="icon-back" onclick="history.back()"></i>
		<span class="header_title">注册</span>
	</header>
	<article class="form-list">
		<section class="form-cell">
			<span class="form-cell-name">帐号：</span>
			<input type="text" id="names" class="form-cell-input" placeholder="请输入您的手机号">
		</section>
		<section class="form-cell">
			<span class="form-cell-name form-cell-mark">验证码：</span>
			<input type="text" id="mark" class="form-cell-input" placeholder="请输入验证码">
			<button class="btn_mark">获取验证码</button>
		</section>
		<section class="form-cell">
			<span class="form-cell-name form-cell-password">密码：</span>
			<input type="password" id="psd" class="form-cell-input" placeholder="请输入您的登录密码">
		</section>
		<section class="form-cell">
			<span class="form-cell-name form-cell-password">密码：</span>
			<input type="password" id="psd2" class="form-cell-input" placeholder="请输入您的登录密码">
		</section>
		<section class="form-cell">
			<span class="form-cell-name form-cell-sf">身份：</span>
			<div id="sf">经纪人</div>
			<div class="hid_sf">
				<span title="broker.html">经纪人</span>
				<span title="owners.html">小业主</span>
				<span title="operator.html">运营商</span>
				<span title="agents.html">代理商</span>
				<span title="developers.html">开发商</span>
			</div>
		</section>
	</article>
	<div class="btn_box">
		<button class="register">注册</button>
		<span class="btn-text">注册即代表同意 <a href="" class="xy">《一米阳光用户协议》</a></span>
	</div>
</body>
<script src="../../public/minijs/login/register.js"></script>

</html>